// Colors
$primary-color: rgb(70, 72, 172); // Primary blue color
$secondary-color: rgb(255, 255, 255); // Secondary gray color
$border-color: #dedede; // Secondary gray color
$success-color: #28a745; // Success green color
$danger-color: #dc3545; // Danger red color
$warning-color: #ffc107; // Warning yellow color
$info-color: #17a2b8; // Info teal color
$light-color: #f8f9fa; // Light gray color
$dark-color: #343a40; // Dark gray color

// Fonts
$font-family-base: 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;


// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
